* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #c99c9c;
  border-radius: 2px;
}
body {
  margin: 0px;
}
#app {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#app * {
  font-family: 'MF YueYuan (Noncommercial)', Optima, 'Hiragino Sans GB';
}
#key {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  line-height: 20px;
  box-shadow: 0px 0px 8px #ccc;
  font-size: 14px;
  top: 0px;
  z-index: 100;
  padding-left: 10px;
}
#menu {
  width: 100%;
  height: 570px;
  overflow-y: scroll;
  padding-bottom: 100%;
  flex: 1;
}
#menu .tab {
  position: relative;
  color: #000000;
  -webkit-transform-origin: left center;
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.06s;
  margin: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1px rgb(172, 164, 164);
  cursor: pointer;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
}
#menu .tab.selected .url {
    color: blue;
}
#menu .tab.focus-at {
    border-left: 12px solid rgb(156, 110, 255);
}
#menu .tab .icon {
  top: 10px;
  right: 8px;
  position: absolute;
  max-width: 16px;
}
#menu .tab>div {
  text-overflow: ellipsis;
  overflow: hidden;
}
#menu .tab:hover {
    background: rgb(245, 245, 245);
}
#menu .tab .title {
  height: 20px;
  font-size: 16px;
}
#menu .tab .url {
  font-size: 12px;
  color: #cfcffc;
  height: 16px;
}

