* {
  box-sizing: border-box;
  font-family: 'Lucida Grande';
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #c99c9c;
  border-radius: 2px;
}
body {
  margin: 0px;
}
#key {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  line-height: 20px;
  box-shadow: 0px 0px 8px #ccc;
  padding: 4px 6px;
  font-family: 'Lucida Grande', 'Ubuntu Mono';
  font-size: 14px;
  position: fixed;
  top: 0px;
  z-index: 100;
}
#menu {
  width: 100%;
  height: 570px;
  /* overflow-y: scroll; */
  padding: 80px 0px 200px 0px;
}
#menu .tab {
  padding: 10px 8px;
  position: relative;
  color: #808080;
  -webkit-transform-origin: left center;
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.06s;
  margin: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px gray;
}
#menu .tab .icon {
  top: 4px;
  right: 4px;
  position: absolute;
  max-width: 40px;
}
#menu .tab .content {
  overflow: hidden;
  font-family: Ubuntu;
  width: 340px;
}
#menu .tab .content>div {
  text-overflow: ellipsis;
  overflow: hidden;
}
#menu .tab:hover {
    background: rgb(230, 213, 255);
}
#menu .tab .content .title {
  height: 20px;
}
#menu .tab .content .url {
  font-size: 10px;
  color: #cfcffc;
  height: 16px;
}
#menu #choose {
  background: #e6e6e6;
  color: #000;
  -webkit-transform: scale(1.1);
}
#menu #choose .url {
  color: #339;
}
#empty {
  padding: 40px;
  font-family: 'Ubuntu Mono';
  color: #00f;
  text-shadow: 0px 0px 6px #c2c2d6;
}
