{
 :sessions {}
 :users {
  "OzQOOvni3" {:id "OzQOOvni3", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "7Ut3EjsPV" {
   :id "7Ut3EjsPV", :name "container", :mock-pointer "mC_GvBP4_", :width 400, :height 400
   :mocks {
    "mC_GvBP4_" {
     :id "mC_GvBP4_", :name "base"
     :data {
      :input "demo"
      :records ["task 1111" "tasl 3333"]
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout nil
    :props {}
    :attrs {}
    :presets #{}
    :style {}
    :children {}
   }
  }
  "meZ-MGUj6" {
   :id "meZ-MGUj6", :name "input", :mock-pointer nil, :width 400, :height 100
   :mocks {}
   :markup {
    :layout :row, :type :box, :id "system"
    :children {
     "T" {
      :layout nil, :type :input, :id "T"
      :children {}
      :style {}
      :presets #{}
      :event {"click" ":nothing"}
      :attrs {}
      :props {}
     }
     "j" {
      :layout nil, :type :button, :id "j"
      :children {}
      :style {}
      :presets #{}
      :event {"click" ":submit"}
      :attrs {}
      :props {}
     }
    }
    :style {}
    :presets #{}
    :attrs {}
    :props {}
   }
  }
 }
}