{
 :sessions {}
 :users {
  "OzQOOvni3" {:id "OzQOOvni3", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "0df8Y4gWe" {
   :id "0df8Y4gWe", :name "tab-highlight", :mock-pointer "base", :width 400, :height 400
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {
      :favIconUrl "http://cdn.tiye.me/logo/respo.png", :selected true, :pinned false, :index 0, :width 1156, :highlighted true, :icon "http://cdn.tiye.me/logo/respo.png", :highlighted? true, :autoDiscardable true, :title "Composer App", :windowId 6390, :status "complete", :active true, :id 17725, :incognito false, :url "http://192.168.99.149:7001/", :audible false, :discarded false, :height 659
      :mutedInfo {:muted false}
     }
    }
   }
   :markup {
    :id "yYlDKUnh1", :type :some, :layout nil
    :props {"value" "@:highlighted?", "kind" ":boolean"}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "T" {
      :id "T", :type :template, :layout nil
      :props {"name" "\"tab", "data" "@"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "j" {
      :id "QBxa5FhkF", :type :box, :layout nil
      :props {}
      :attrs {}
      :presets #{}
      :style {"background-color" "hsl(277,82%,94%)"}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "\"tab", "data" "@"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
  "7Ut3EjsPV" {
   :id "7Ut3EjsPV", :name "container", :mock-pointer "-OmnV3uKE", :width "320", :height "300"
   :mocks {
    "-OmnV3uKE" {
     :id "-OmnV3uKE", :name "real"
     :data {
      :content "", :initial-tab-id 17725, :query ""
      :states {}
      :model {
       :input ""
       :records []
      }
      :tabs [
       {
        :favIconUrl "http://cdn.tiye.me/logo/respo.png", :selected true, :pinned false, :index 0, :width 1156, :highlighted true, :icon "http://cdn.tiye.me/logo/respo.png", :highlighted? true, :autoDiscardable true, :title "Composer App", :windowId 6390, :status "complete", :active true, :id 17725, :incognito false, :url "http://192.168.99.149:7001/", :audible false, :discarded false, :height 659
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "https://github.githubassets.com/favicon.ico", :selected false, :pinned false, :index 1, :width 1156, :highlighted false, :icon "https://github.githubassets.com/favicon.ico", :highlighted? false, :autoDiscardable true, :title "mvc-works/fuzzy-filter: Customized text filter solution", :windowId 6390, :status "complete", :active false, :id 20445, :incognito false, :url "https://github.com/mvc-works/fuzzy-filter", :audible false, :discarded false, :height 978
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "http://cdn.tiye.me/logo/mvc-works.png", :selected false, :pinned false, :index 2, :width 1156, :highlighted false, :icon "http://cdn.tiye.me/logo/mvc-works.png", :highlighted? false, :autoDiscardable true, :title "EDN Formatter", :windowId 6390, :status "complete", :active false, :id 20480, :incognito false, :url "http://repo.tiye.me/mvc-works/edn-formatter/", :audible false, :discarded false, :height 978
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "https://cdn.tiye.me/logo/cirru.png", :selected true, :pinned false, :index 0, :width 1259, :highlighted true, :icon "https://cdn.tiye.me/logo/cirru.png", :highlighted? false, :autoDiscardable true, :title "Calcit Editor", :windowId 8198, :status "complete", :active true, :id 19173, :incognito false, :url "https://calcit-editor.cirru.org/?port=6001", :audible false, :discarded false, :height 978
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "http://cdn.tiye.me/logo/respo.png", :selected false, :pinned false, :index 0, :width 1280, :highlighted false, :icon "http://cdn.tiye.me/logo/respo.png", :highlighted? false, :autoDiscardable true, :title "Composer", :windowId 8900, :status "complete", :active false, :id 19219, :incognito false, :url "http://composer.respo-mvc.org/", :audible false, :discarded false, :height 698
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "https://github.githubassets.com/favicon.ico", :selected false, :pinned false, :index 1, :width 1280, :highlighted false, :icon "https://github.githubassets.com/favicon.ico", :highlighted? false, :autoDiscardable true, :title "Respo/composer: Deviser toolkits in Respo scenarios.", :windowId 8900, :status "complete", :active false, :id 20486, :incognito false, :url "https://github.com/Respo/composer", :audible false, :discarded false, :height 698
        :mutedInfo {:muted false}
       }
       {
        :favIconUrl "https://cdn.tiye.me/logo/cirru.png", :selected true, :pinned false, :index 2, :width 1280, :highlighted true, :icon "https://cdn.tiye.me/logo/cirru.png", :highlighted? false, :autoDiscardable true, :title "Calcit Editor", :windowId 8900, :status "complete", :active true, :id 20490, :incognito false, :url "https://calcit-editor.cirru.org/?port=6002", :audible false, :discarded false, :height 698
        :mutedInfo {:muted false}
       }
      ]
     }
    }
    "2AIi1kdSX" {
     :id "2AIi1kdSX", :name "empty"
     :data {
      :query "demo"
      :tabs []
     }
    }
    "79udF66E7" {
     :id "79udF66E7", :name "long"
     :data {
      :query "demo"
      :tabs [
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
      ]
     }
    }
    "mC_GvBP4_" {
     :id "mC_GvBP4_", :name "base"
     :data {
      :query "demo"
      :tabs [
       {:id "01", :previous? false, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? true, :highlighted? false, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? false, :highlighted? true, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
       {:id "01", :previous? true, :highlighted? true, :icon "http://cdn.tiye.me/logo/pudica.png", :title "PUDICA", :url "http://pudica.memkits.org"}
      ]
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout :column
    :props {}
    :attrs {}
    :presets #{:fullscreen}
    :style {}
    :children {
     "D" {
      :id "D", :type :template, :layout nil
      :props {"name" "input", "data" "@"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "b" {
      :id "q4-CbYFko", :type :some, :layout nil
      :props {"value" "@:tabs", "kind" ":list"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "D" {
        :id "D", :type :box, :layout :center
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {
         "T" {
          :id "T", :type :text, :layout nil
          :props {"value" "\"Empty"}
          :attrs {}
          :presets #{:font-fancy}
          :style {"color" "#aaa", "line-height" "32px"}
          :children {}
         }
        }
       }
       "T" {
        :id "b", :type :list, :layout nil
        :props {"value" "@:tabs"}
        :attrs {}
        :presets #{:expand}
        :style {"overflow" "auto"}
        :children {
         "T" {
          :id "T", :type :template, :layout nil
          :props {"name" "\"tab-highlight", "data" "@:item"}
          :attrs {}
          :presets #{}
          :style {}
          :children {}
         }
        }
       }
      }
     }
    }
   }
  }
  "meZ-MGUj6" {
   :id "meZ-MGUj6", :name "input", :mock-pointer "DjDu9h7FD", :width 400, :height "48"
   :mocks {
    "DjDu9h7FD" {
     :id "DjDu9h7FD", :name "has-data"
     :data {:query "DEMO"}
    }
    "UwFQFBIAA" {
     :id "UwFQFBIAA", :name "base"
     :data {:query ""}
    }
   }
   :markup {
    :layout :row, :type :input, :id "system"
    :children {}
    :style {"width" "100%", "border-bottom" "1px solid #eee", "line-height" "\"48px", "height" "\"48px", "border" "none"}
    :presets #{}
    :event {"input" ":query", "keydown" ":keydown"}
    :attrs {"placeholder" "\"filter...", "class-name" "\"query"}
    :props {"value" "@:query", "param" "nil"}
   }
  }
  "reYXJPMRm" {
   :id "reYXJPMRm", :name "tab", :mock-pointer "SbqtBSOnU", :width 400, :height "81"
   :mocks {
    "RRVQWGBVB" {
     :id "RRVQWGBVB", :name "previous-task"
     :data {:id "01", :title "demo tab", :url "http://tiye.me", :icon "http://cdn.tiye.me/logo/erigeron.png", :previous? true, :highlighted? false}
    }
    "SbqtBSOnU" {
     :id "SbqtBSOnU", :name "base"
     :data {:id "01", :title "demo tab", :url "http://tiye.me", :icon "http://cdn.tiye.me/logo/erigeron.png", :previous? false, :highlighted? false}
    }
   }
   :markup {
    :layout :row-middle, :type :box, :id "system"
    :children {
     "T" {
      :id "T", :type :image, :layout nil
      :props {"src" "@:icon", "mode" ":img"}
      :attrs {"width" "40", "height" "40"}
      :presets #{}
      :style {}
      :children {}
     }
     "b" {
      :id "b", :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "j" {
      :id "j", :type :box, :layout :column
      :props {}
      :attrs {}
      :presets #{:flex}
      :style {}
      :children {
       "T" {
        :id "T", :type :box, :layout nil
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {
         "T" {
          :id "T", :type :text, :layout nil
          :props {"value" "@:title"}
          :attrs {}
          :presets #{}
          :style {}
          :children {}
         }
        }
       }
       "b" {
        :id "b", :type :space, :layout nil
        :props {"height" "4"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
       "j" {
        :id "j", :type :box, :layout nil
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {
         "T" {
          :id "T", :type :text, :layout nil
          :props {"value" "@:url"}
          :attrs {}
          :presets #{:font-fancy}
          :style {"color" "hsl(200,80%,70%)"}
          :children {}
         }
        }
       }
      }
     }
     "r" {
      :id "H0fmv5mEi", :type :some, :layout nil
      :props {"value" "@:previous?", "kind" ":boolean"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "D" {
        :id "D", :type :box, :layout nil
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
       "T" {
        :id "r", :type :icon, :layout nil
        :props {"name" "anchor"}
        :attrs {}
        :presets #{}
        :style {"position" "absolute", "right" "8"}
        :children {}
       }
      }
     }
    }
    :style {"padding" "4", "line-height" "16px", "border-bottom" "1px solid #eee", "position" "relative", "cursor" "pointer"}
    :presets #{}
    :event {"click" ":click"}
    :attrs {}
    :props {"param" "@:id"}
   }
  }
 }
 :settings {
  :colors {
   "UUTYR9QCF" {:id "UUTYR9QCF", :name "font", :color "#aaa", :group "theme"}
   "f1XJKE1_2" {:id "f1XJKE1_2", :name "highlight", :color "hsl(277,82%,94%)", :group "theme"}
  }
 }
}